@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
html { font-family: 'PT Sans', sans-serif; }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FCF2E8;
    font-family: 'Inter';
}

#mainDiv{
    width: 100%;
}
#topContainer{
    background-color: #503617;
    height: 120px;
    box-shadow:         3px 3px 6px 6px #ccc;
}

#divTop{
    width: 100%;
    display: flex;
    justify-content: center;
}

#divTopLeft{
    width: 60%;
    background-color: #503617;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 10px;
}

#divTopLeft p{
    font-size: 35px;
    color: white;
}

#divTopRight{
    width: 30%;
    background-color: #503617;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#divTopRight img{
    width: 150px;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.2s;
    box-shadow:         2px 2px 2px 2px rgba(26, 26, 26, 0.377);


}

#divTopRight img:hover{
    filter: invert(1);
    cursor: pointer;
    transition: 0.35s;
}

#logoTop{
    width: 100px;
    margin-left: 25px;
}

#navBox{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    padding: 5px;
}

#navBox nav div{
    margin-left: 25px;
    background-color: snow;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 15px;
    border: solid 1px;
    transition: 0.3s;

}

#navBox nav div:hover{
    filter: invert(1);
    cursor:pointer;
    transition: 0.35s;

}

#reviewBox100{
background-color: #196141;
width: 100%;
height: 350px;
display: flex;
align-items: center;
flex-direction: column;
box-shadow:         3px 3px 5px 6px #ccc;
}

#reviewBoxLogoAndReviews{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    
}


#reviewBox{
    
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#reviewBox div{
    background-color: #f7cdce;
    width: 30%;
    height: 80%;
    text-align: center;
    border: 5px;
    border-radius: 10px;
    margin: 15px;
    color: rgb(6, 0, 39);
    box-shadow:         3px 3px 5px 6px #134931;
    transition: 0.5s;    
    
}
#reviewBox div:hover{
    height: 90%;
    width: 40%;
    transition: 0.5s;
}

#reviewBox div img{
    
    width: 100%;
    border: 5px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;

    
    
}
#reviewBox div p{
    margin: 4%;
    text-align: left;
    font-family: 'Inter';
    font-size: 14px;
    
}
.countryAndPlace{
    padding-left: 5%;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(6, 0, 39);
    width: auto;
}

#reviewLogo{
    height: 30%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#reviewLogo img{
    
    height: 50px;
    width: 50px;
    transition: 0.5s;


}
#reviewLogo img:hover{

width: 70px;
height: 70px;
transition: 0.5s;

}



#slagOrdBox{
    width: 100%;
    height: 330px;
    margin-bottom: 100px;
    background-color: #d4a87f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:         3px 3px 5px 6px #ccc;
}

#slagOrdBox p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    font-weight: bold;
    color: snow;
    
}

#slagOrdBox img{
    float: right;
    width: 30%;
}



footer{
    width: 100%;
    height: 50px;
    margin-top: 100px;
    background-color: #503617;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:         3px 3px 5px 6px #ccc;
    font-family: 'Inter';
    font-weight: bold;

}




@media only screen and (min-width: 1300px){
    #mainDiv{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (max-width: 600px){
    
    #divTopLeft p{
        font-size: 28px;
        color: white;
    }

    #navBox nav div{
        margin-left: 25px;
        background-color: snow;
        padding: 5px;
        border-radius: 5px;
        font-size: 25px;
        margin-right: 15px;
    }
}

#localTressureMain{
    width: 100%;
    
    
}
#localTreasures{
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
    background-color: #FCF2E8;
    
}

#localTreasures h2{
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #503617;
}

#localTreasureFlex{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

@media only screen and(max-width: 1190px){
    #localTreasureFlex div{
        width: 15%;
        padding: 1%;
         
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px;
        border-radius: 5px;
        border-style: solid;
        border-color: white;
            
    }

} 

.icons{
    width: 100*1.66667px;
    height: 100px;
}


#localTreasures div{
    margin-bottom: 25px;
    text-align: center;
}

#localTreasures div img{
    margin: 5px;
}

#localTreasureFlex div{
    width: 15%;
    padding: 1%;
    background-color: #196141;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: #196141 ;
    box-shadow:         3px 3px 3px 3px #ccc;

    
        
}
#localTreasureFlex div p{
    text-align: left;
    color: white;

}
    

@media only screen and (max-width: 750px){
    #slagOrdBox p{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
        font-weight: bold;
        color: snow;
        
    }
}

@media only screen and (max-width: 700px){
    #reviewBox{
    
        width: 90%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
    }

    #reviewBox div{
        background-color: #f7cdce;
        width: 150px;
        height: 300px;
        text-align: center;
        border: 5px;
        border-radius: 10px;
        margin: 15px;
        color: rgb(6, 0, 39);
        box-shadow: 3px 3px 5px 6px #134931;
        transition: 0.5s;    
        
    }

    #reviewBox100{
        background-color: #196142;
        width: 100%;
        height: 1050px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow:         3px 3px 5px 6px #ccc;
    }

    #reviewLogo img{
        visibility: hidden;
        width: 0;
    }
}

@media only screen and (min-width: 2257.75px){
    #reviewBox div img{
        height: 100%;
        
    }   
}



@media only screen and (max-width: 1329px){
    #localTreasureFlex div{
        width: 130px;
        
    }

    #localTreasureFlex div img{
        width: 130px;
        
    }
    
}


a:visited{
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 415px){
    #navBox nav div{
        margin: 1%;
    }

    #divTopRight{
        display: flex;
        justify-content: right;
        background: transparent;
        margin-right: 0;
    }

    #divTopRight a img{
        width: 75%;
        margin-left: 30%;
        margin-right: 1%;
    }

    #divTopLeft p{
        font-size: 25px;
    }
}

@media only screen and (max-width: 361px){
    #divTopLeft p{
        font-size: 15px;
    }

    #navBox nav div{
        width: 30%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #navBox nav div p a{
        font-size: 50%;
        margin-top: 0;
    }

    #navBox nav div p {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}