@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
html { font-family: 'PT Sans', sans-serif; }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FCF2E8;
    font-family: 'Inter';
}

#mainDiv{
    width: 100%;
}
#topContainer{
    background-color: #503617;
    height: 120px;
}

#divTop{
    width: 100%;
    display: flex;
    justify-content: center;
}

#divTopLeft{
    width: 60%;
    background-color: #503617;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 10px;
}

#divTopLeft p{
    font-size: 35px;
    color: white;
}

#divTopRight{
    width: 30%;
    background-color: #503617;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#divTopRight img{
    width: 150px;
    border-radius: 10px;
    margin-right: 10px;
}

#divTopRight img:hover{
    filter: invert(1);
    cursor: pointer;
}
#navBox nav div:hover{
    filter: invert(1);
    cursor:pointer;
}

#logoTop{
    width: 100px;
    margin-left: 25px;
}

#navBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 300px;
}

#navBox nav div{
    margin-left: 25px;
    background-color: snow;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 15px;
    border: solid 1px;

}




#reviewBox100{
background-color: #196141;
width: 100%;
height: 350px;
display: flex;
align-items: center;
flex-direction: column;
}

#reviewBoxLogoAndReviews{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    
}


#reviewBox{
    
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
        
}

#reviewBox div{
    background-color: #f7cdce;
    width: 30%;
    height: 80%;
    text-align: center;
    border: 5px;
    border-radius: 10px;
    margin: 15px;
    color: rgb(6, 0, 39);
    
    
}
#reviewBox div:hover{
    height: 90%;
    width: 40%;
    transition: 0.5s;
}

#reviewBox div img{
    
    width: 100%;
    border: 5px;
    border-radius: 10px;
    
}
#reviewBox div p{
    margin: 4%;
    text-align: left;
    font-family: 'Inter';
    font-size: 14px;
    
}
.countryAndPlace{
    padding-left: 5%;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(6, 0, 39);
    width: auto;
}

#reviewLogo{
    height: 30%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



#reviewLogo img{
    
    height: 50px;
    width: 50px;

}
#reviewLogo img:hover{

width: 70px;
height: 70px;
transition: 1.5s;

}


@media only screen and (max-width: 600px){
    
    #divTopLeft p{
        font-size: 28px;
        color: white;
    }



    #navBox nav div{
        margin-left: 25px;
        background-color: snow;
        padding: 5px;
        border-radius: 5px;
        font-size: 25px;
        margin-right: 15px;
    }
}