@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FCF2E8;
    font-family: 'Inter';
}

#mainDiv{
    width: 100%;
}
#topContainer{
    background-color: #503617;
    height: 170px;
}

#divTop{
    width: 100%;
    display: flex;
    justify-content: center;
}

#divTopLeft{
    width: 60%;
    background-color: #503617;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 10px;
}

#divTopLeft p{
    font-size: 35px;
    color: white;
}

#divTopRight{
    width: 30%;
    background-color: #503617;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#divTopRight img{
    width: 150px;
    border-radius: 10px;
    margin-right: 10px;
}

#logoTop{
    width: 100px;
    margin-left: 25px;
}

#navBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav{
    margin-left: 5%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 300px;
}

#reviewBox100{
background-color: green;
width: 100%;
height: 250px;
display: flex;
align-items: center;
}

#reviewBoxLogoAndReviews{
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 100%;

}
#reviewLogo{
    
    width: 30%;
    height: 100%;
    background-color: indigo;


}
#reviewLogo img{
    background-color: lightseagreen;
    height: 50%;
    width: 100%;
    
}
#reviewLogo p{
    background-color: lightcoral;
    height: 50%;
    width: 100%;

}

#reviewBox{
    display: flex;
    width: 70%;

}
#reviewBoxDelt{
    
}
#navBox nav div{
    margin-left: 25px;
    background-color: snow;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 15px;
}